#  Local .terraform directories
**/.terraform/*
**/targets/*.secret
**/targets/*-run
**/targets/*.tfvars
**/.DS_Store
**/*.old
**/*.json
**/*.tpl
**/*.ini
**/.vagrant
**/.terraform
**/*.retry
**/*.log

# .tfstate files
*.tfstate
*.tfstate.*
