- name: Check manifest exists
  stat:
    path: "/home/{{ admin }}/k8s/letsencrypt"
  register: manifests

- name: Copy manifest
  copy:
    src: k8s_letsencrypt/manifests/
    dest: "/home/{{ admin }}/k8s/letsencrypt"
    owner: "{{ admin }}"
  when: manifests.stat.exists == False

- name: Copy templated issuer-staging
  template:
    src: k8s_letsencrypt/manifests/issuer-staging.yaml
    dest: "/home/{{ admin }}/k8s/letsencrypt"
    owner: "{{ admin }}"

- name: Copy templated issuer-prod
  template:
    src: k8s_letsencrypt/manifests/issuer-prod.yaml
    dest: "/home/{{ admin }}/k8s/letsencrypt"
    owner: "{{ admin }}"

- name: Create namespace
  shell: |
    kubectl apply -f /home/{{ admin }}/k8s/letsencrypt/namespace.yaml

- name: Disable resource validation on cert-manager
  shell: |
    kubectl label namespace cert-manager certmanager.k8s.io/disable-validation=true

- name: Apply CustomResourceDefinitions and cert-manager
  shell: |
    kubectl apply -f /home/{{ admin }}/k8s/letsencrypt/cert-manager-0.10.0.yaml

- name: Wait for CRD and cert-manager to be ready
  shell: |
    while true
    do
      out=$(kubectl get pods --namespace cert-manager --field-selector status.phase!="Running")
      if [ "$out" == "No resources found." ]
      then
        echo "CRD and cert-manager are ready."
        break
      else
        echo "$out"
      fi
    done

- name: Create certificate issuers
  shell: |
    kubectl apply -f /home/{{ admin }}/k8s/letsencrypt/issuer-staging.yaml
    kubectl apply -f /home/{{ admin }}/k8s/letsencrypt/issuer-prod.yaml
