{
    "insecure-registries": [
        "{{ master_name }}:32000",
        "{{ master_name }}:32080",
        "{{ master_name }}:32081",
        "{{ master_name }}:32082",
        "{{ master_name }}:32083",
        "{{ master_name }}:32084"
    ]
}
